@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Roboto Mono";
  transition: all 200ms ease-in-out;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.pad-40 {
  padding: 40px;
}

.pad-20 {
  padding: 20px;
}

.margin-40 {
  margin: 40px;
}

.margin-20 {
  margin: 20px;
}

body {
  min-height: 80vh;
  width: 80%;
  margin: 0 auto;
}

main {
  height: 600px;
  width: 800px;
  background-color: #898989;
}

button.button {
  height: 100px;
  width: 100px;
  margin: 6px;
  background-color: #2a2a72;
  color: #ffa400;
  font-weight: 600;
  font-size: 2rem;
  padding: 10px;
}

button:hover {
  outline: #ffa400 solid 4px;
}

div.display-container {
  width: 80%;
  border: 6px solid #3a3042;
  justify-content: flex-end;
  h3 {
    font-size: 2rem;
  }
}

div.calculator-main {
  width: 60%;
  height: 100%;
  background-color: #e3e3e3;
}

div.calculator-log {
  width: 40%;
  height: 100%;
  background-color: #e3e3e3;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: column-reverse;
  overflow: auto;
}

div.calculator-log::-webkit-scrollbar {
  width: 0.1rem;
  background-color: transparent;
}

div.calculator-log::-webkit-scrollbar-thumb {
  background-color: transparent;
}

ul {
  flex-direction: column-reverse;
}

li {
  font-size: 1.5rem;
  margin: 10px 0px;
  text-align: right;
}
